<a href="https://colab.research.google.com/github/sarkar2527/DSAP/blob/main/EDA_KRISH_Zomatoipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv("/content/drive/MyDrive/EDA_Zomato/zomato.csv",encoding="latin-1")

In [7]:
df.shape

(9551, 21)

In [5]:
df.head

<bound method NDFrame.head of       Restaurant ID           Restaurant Name  ...  Rating text Votes
0           6317637          Le Petit Souffle  ...    Excellent   314
1           6304287          Izakaya Kikufuji  ...    Excellent   591
2           6300002    Heat - Edsa Shangri-La  ...    Very Good   270
3           6318506                      Ooma  ...    Excellent   365
4           6314302               Sambo Kojin  ...    Excellent   229
...             ...                       ...  ...          ...   ...
9546        5915730              NamlÛ± Gurme  ...    Very Good   788
9547        5908749             Ceviz AÛôacÛ±  ...    Very Good  1034
9548        5915807                     Huqqa  ...         Good   661
9549        5916112              Aôôk Kahve  ...    Very Good   901
9550        5927402  Walter's Coffee Roastery  ...    Very Good   591

[9551 rows x 21 columns]>

In [8]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [11]:
df.describe()

       Restaurant ID  Country Code  ...  Aggregate rating         Votes
count   9.551000e+03   9551.000000  ...       9551.000000   9551.000000
mean    9.051128e+06     18.365616  ...          2.666370    156.909748
std     8.791521e+06     56.750546  ...          1.516378    430.169145
min     5.300000e+01      1.000000  ...          0.000000      0.000000
25%     3.019625e+05      1.000000  ...          2.500000      5.000000
50%     6.004089e+06      1.000000  ...          3.200000     31.000000
75%     1.835229e+07      1.000000  ...          3.700000    131.000000
max     1.850065e+07    216.000000  ...          4.900000  10934.000000

[8 rows x 8 columns]

**Data Analysis**
1. Finding Missing Values.
2. Explore about Numerical value
3. Explore about Categorical Value
4. Finding relation Ship between feature

In [13]:
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [14]:
df_country = pd.read_excel("/content/drive/MyDrive/EDA_Zomato/Country-Code.xlsx")

In [16]:
df_country.shape

(15, 2)

In [18]:
df_country.head()

   Country Code    Country
0             1      India
1            14  Australia
2            30     Brazil
3            37     Canada
4            94  Indonesia

In [19]:
final_df= pd.merge(df,df_country,on="Country Code", how= 'left')

In [21]:
final_df.dtypes

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
Country                  object
dtype: object